body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 23px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-size: 50px;
    margin-top: 3px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: normal;
    text-align:center;
  }
  
   h1,h2 {
    text-align: left;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: 10%;
    margin-right: auto;
    padding: 40px;
    max-width: 500px;
  }
  
  
  
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }